In [1]:
import numpy as np
import pandas as pd

### Question 1

In [2]:
np.__version__

'1.20.1'

In [3]:
df = pd.read_csv('../data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2: Number of records in the dataset

In [4]:
df.shape

(11914, 16)

### Question 3: The most popular car manufacturers

In [5]:
df['Make'].value_counts().nlargest(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4
What's the number of unique Audi car models in the dataset?

In [6]:
df[df['Make']=='Audi']['Model'].unique().size

34

### Question 5
How many columns in the dataset have missing values?

In [7]:
df.isna().any().sum()

5

### Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.

In [11]:
print('Median ',df['Engine Cylinders'].median())
print('Mode ',df['Engine Cylinders'].mode()[0])
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0])#,inplace=True)
print('NAs',df['Engine Cylinders'].isna().sum())
print('Median after fillna ',df['Engine Cylinders'].median())

Median  6.0
Mode  4.0
NAs 30
Median after fillna  6.0

### Question 7

In [12]:
#df[df.Make=='Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates()
X=df[df.Make=='Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates()
X=X.to_numpy()
XT=X.T
XTX=np.dot(XT,X)

invXTX = np.linalg.inv(XTX)
y=np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

w = np.dot(np.dot(invXTX,XT),y)
print(w)
print(w[0])

[  4.59494481 -63.56432501]
4.594944810094579